html, body, .container {
    height: 100%;
}


body {
background: #333333;
color: #0083B2;
  width: 100%;
  text-align: center;
  font-family: 'Monoton', cursive;
}


#location {
  color: #FF530D;
  font-size: 60px;
  margin-bottom: 10px;
}

.symbol {
  font-size: 100px;
  color: #BF7524;
}

#temp {
  font-size: 100px;
  color: #BF7524;
}

#conditions {
  font-size:60px;
  color: #B83422;
}

.conditions {
    padding-top: 40px;
}


.info-box {
    background-color: #333;
    margin-left: auto;
    margin-right: auto;
}

.icon-box {
  padding-top: 1em;
}

/*---------------Button----------------*/
.button {
  background: #BAA378;
  color: #382E1C;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  margin-top: 40px;
  cursor: pointer;
  width: 140px;
  height: 40px;
}

.button:hover {
  color: #000;
}

.button:focus {
  outline: 1px solid #666;

}
