@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html,
body,
.container {
  height: 100%;
}

body {
  width: 100%;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

#location {
  font-size: 60px;
  margin-bottom: 10px;
  font-weight: bold;
}

.symbol {
  font-size: 100px;
}

#temp {
  text-align: right;
  display: inline-block;
  font-size: 100px;
  width: 100px;
  margin-right: 5px;
}

#conditions {
  font-size: 60px;
}

.conditions {
  padding-top: 40px;
}

.info-box {
  background: #324D5C;
  color: #efefef;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding: 2.6em 0;
  font-weight: bold;
  border-radius: .3em;
}

/*---------------Button----------------*/
.button {
  font-family: "Open Sans", sans-serif;
  border: none;
  color: #efefef;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  border-radius: .3em;
}

.button:hover {
  transform: scale(.9);
}

.button:focus {
  outline: none;
}
